.BusinessQA-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 60%;
  }

  .BusinessQA-header{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .BusinessQA-header h1 {
    font-size: 30px;
    font-weight: bold;
  }
  
  .BusinessQA-board-btn {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .BusinessQA-board {
    width: 100%;
  }
  
  .BusinessQA-board-statusBtn {
    display: flex;
    justify-content:start;
  }
  
  .status {
    width: 70px;
    border: none;
    padding: 10px 10px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    background-color: white;
  }
  
  .status:hover{
    color: #007bff;
    border-bottom: 2px solid #007bff;
  }

  .status-chosen{
    width: 70px;
    border: none;
    padding: 10px 10px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    background-color: white;

    color: #007bff;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid #007bff;
  }

  .BusinessQA-addBtn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    width: 150px;
    border-radius: 4px;
   
    flex-direction: row-reverse;
  }
  
  .BusinessQA-addBtn:hover {
    background-color: #0062cc;
  }


  .BusinessQA-board-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    padding: 0px 20px;
    border-top: 1px solid gray;
    /* border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); */
  }

  .BusinessQuestion{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 20px;
    background-color: white;
    border-bottom: 1px solid gray;
    align-items: center;
  }

  .BusinessQuestion:hover{
    background-color: #f2f2f2;
  }
  
  .BusinessQuestion-Title{
    margin-right: auto;
  }

  .BusinessQuestion-Time{
    margin-left: 5%;
  }

