.detailQ-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    width: 60%;

}

.detailQ-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.detailQ-header h1{
    font-size: 30px;
    font-weight: bold;
    
}

.submit-button{
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    width: 150px;
    border-radius: 4px;
}

.submit-button:hover{
     background-color: #0062cc;
}

.detailQ-board{
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
    align-items: center;
}

.detailQ-question{
    display: table-cell;
    width: 100%;
    background-color: white;
    box-shadow: 0 0 0 1px rgb(212, 212, 212);
}
.detailQ-question:nth-child(2n){
    background-color: #f2f2f2;
}

.detailQ-userinfo{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.detailQ-username{
    padding: 15px 0px 0px 15px;
    font-weight: bolder;
}

.detailQ-inputime{
    padding: 15px 0px 0px 15px;
    font-size: 15px;
    color: #777777;
}

.detailQ-content{
    padding: 0px 15px 10px 15px;
}

.detailQ-comment{
    width: 100%;
    background-color: skyblue;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.reply-section{
  padding: 10px;
  width: 100%;
  overflow: hidden;
}

.reply-section button{
    margin-top: 10px;
    float: right;
 }

.ck-media__wrapper{
    clear: both;
    margin: 0.9em 0;
    display: block;
    width: 40em;
}

.media.ck-widget{
    width: 50px;
}

.reply-section .ck-editor__editable {
    min-height: 250px;
    max-height: 250px;
}