.detailQ-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    width: 80%;

}

.detailQ-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.detailQ-header h1{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 10px;
}

.submit-button{
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    width: 150px;
    border-radius: 4px;
}

.submit-button:hover{
     background-color: #0062cc;
}

.detailQ-board{
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.detailQ-question{
    width: 100%;
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 7px;
}

.detailQ-question p{
    padding: 20px;    
}

.detailQ-comment{
    width: 100%;
    background-color: skyblue;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.reply-section{
  padding: 10px;
  width: 100%;
  overflow: hidden;
}

.reply-section button{
    margin-top: 10px;
    float: right;
 }

.ck-media__wrapper{
    clear: both;
    margin: 0.9em 0;
    display: block;
    width: 40em;
}

.media.ck-widget{
    width: 50px;
}

.reply-section .ck-editor__editable {
    min-height: 250px;
    max-height: 250px;
}