body {
    margin: 0px;
    padding: 0px;
}

a{
    text-decoration: none;
    cursor: pointer;
    color:#000
}

.main-page{
    display: flex;
    width: 100vw;
    height: 100vh;
}

.main{
    background-color: white;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
}